<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">


<ion-content>
  
  <div class="profile-card">
    <div class="card-header">
      <div class="pic">
        <img src="https://www.famousbirthdays.com/faces/auronplay-image.jpg" alt="">
      </div>
      <ion-icon name="cog-sharp" button="true"></ion-icon>
      <div class="name custom-font">Anaximandro</div>
      <div class="desc custom-font">Suba</div>
      <div class="desc custom-font">3138856345</div>
      <div class="sm">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-github"></a>
        <a href="#" class="fab fa-youtube"></a>
      </div>
      
    </div>
    <div class="card-footer custom-font">
      <div class="numbers custom-font">
        <div class="item">           
          <span class="custom-font">12</span>
          <ion-button color="white">
          <ion-label class="custom-font colorl" >Posts</ion-label>
          </ion-button>
        </div>
        <div class="border"></div>
        <div class="item" >
          <span class="custom-font">127</span>
          <ion-button color="white">
          <ion-label class="custom-font colorl">Adoptados</ion-label>
        </ion-button>
        </div>
        <div class="border"></div>
        <div class="item">
          <span class="custom-font">29</span>
          <ion-button color="white">
          <ion-label class="custom-font colorl">Favoritos</ion-label>
        </ion-button>
        </div>
      </div>
    </div>

    <a href="#" class="contact-btn custom-font" fill="full" routerLink="/login" routerDirection="forward">Cerrar sesion</a>
  </div>
</ion-content>

