<ion-tabs>

  <ion-tab-bar  
      slot="bottom">
    <ion-tab-button class="color" tab="tab1">
      <ion-icon class="color" name="home-sharp"></ion-icon>
     
    </ion-tab-button>

    <ion-tab-button class="color" tab="tab2">
      <ion-icon class="color" name="paw-sharp"></ion-icon>
     
    </ion-tab-button>

    <ion-tab-button class="color" tab="tab3">
      <ion-icon class="color" name="book-sharp"></ion-icon>
     
    </ion-tab-button>

    <ion-tab-button class="color" tab="tab4" >
      <ion-icon class="color" name="person-sharp"></ion-icon>

    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
