.publicar {
    text-align: center;
    position: relative;
    top: 4%;
  }

.card1  {
position: relative;
top: 4%;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
  }

.custom-font {
  font-family: 'Josefin Sans', sans-serif;
}