<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
<ion-content [fullscreen]="true">

  <ion-toolbar class="publicar">
    <ion-title class="ion-text-center custom-font"><h2>Publicar</h2></ion-title>
  </ion-toolbar>
  
  <ion-card class="card1" button=true routerLink="/extraviado" routerDirection="root">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-avatar class="animalImage">
              <img src="./assets/img/1.png">
            </ion-avatar>
          </ion-col>
          <ion-col size=9>
            <ion-text color="Dark" class="ion-text-center custom-font">
              <h2>BUSCANDO UN HOGAR</h2>
            </ion-text>
            <ion-text class="ion-text-center custom-font" >
              <h5>Usa esta opcion si Tienes algun animalito para poner en adopción o has visto algún animalito en la calle que desees publicar. Salva una vida dandole un hogar :)</h5>
            </ion-text>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="card1" button=true>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-avatar class="animalImage">
              <img src="./assets/img/2.png">
            </ion-avatar>
          </ion-col>
          <ion-col size=9>
            <ion-text color="Dark" class="ion-text-center custom-font">
              <h2>EXTRAVIADO</h2>
            </ion-text>
            <ion-text  class="ion-text-center custom-font" >
              <h5>Usa esta opcion si tu mascota se ha perdido con ello cualquier miembro de la comunidad podrá comunicarse contigo en caso de que posea informacion sobre el animal perdido.</h5>
            </ion-text>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>





</ion-content>
